<?xml version="1.0" encoding="UTF-8"?>
<odoo>
	<data>
		<!-- hide some menuitems in hr.attendance -->
		<record model="ir.ui.menu" id="hr_attendance.menu_hr_attendance_my_attendances">
			<field name="groups_id" eval="[(6,0,[ref('base.group_no_one')])]"/>
		</record>

		<record model="ir.ui.menu" id="hr_attendance.menu_hr_attendance_kiosk_mode">
			<field name="groups_id" eval="[(6,0,[ref('base.group_no_one')])]"/>
		</record>
	</data>
</odoo>