<odoo>
	<data>
		<record model="ir.ui.view" id="view_form_config">
            <field name="name">Config Tanaman</field>
            <field name="model">ka_plantation.configure</field>
			<field name="arch" type="xml">
				<form string="Data Configure">
					<sheet>
						<group>
							<group>
								<field name="api_key"/>
								<field name="petak_valid"/>
								<field name="petak_invalid"/>
								<field name="petak_rehab"/>
							</group>
							<group>
								<field name="tgl_buat"/>
								<field name="created_by"/>
							</group>
						</group>
					</sheet>
				</form>
			</field>
		</record>

		<record model="ir.ui.view" id="view_tree_configure">
            <field name="name">Configure Tanaman</field>
            <field name="model">ka_plantation.configure</field>
			<field name="arch" type="xml">
				<tree>
					<field name="api_key"/>
					<field name="petak_valid"/>
					<field name="petak_invalid"/>
					<field name="petak_rehab"/>
					<field name="tgl_buat"/>
					<field name="created_by"/>
				</tree>
			</field>
		</record>

		<record model="ir.actions.act_window" id="action_configure">
            <field name="name">Configure Tanaman</field>
            <field name="res_model">ka_plantation.configure</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">Data Configure masih Kosong. Buat configure terlebih dahulu.
                </p>
            </field>
        </record>
	</data>
</odoo>