<odoo>
    <data>
        <menuitem id="menu_tanaman" 
		web_icon="ka_tanaman,static/description/icon.png"
		name="Tanaman"/>        
        <menuitem id="menu_ts" parent="menu_tanaman" name="Tebu Sendiri" sequence="1" groups="ka_tanaman.group_ts"/>
            <menuitem id="menu_ts_contract" parent="menu_ts" name="Proposal TS" sequence="1" action="action_ts_contract"/>
            <menuitem id="menu_ts_register" parent="menu_ts" name="Register TS" action="action_mtt_ts" sequence="2"/>
<!--             <menuitem id="menu_ts_setting" parent="menu_ts" name="Seting" sequence="6"/>
    			<menuitem id="menu_ts_category_area" parent="menu_ts_setting" name="Kategori Kebun" sequence="1" action="action_ts_category"/>
    			<menuitem id="menu_ts_category_cost" parent="menu_ts_setting" name="Kategori Biaya" sequence="2" action="action_ts_category_cost"/>
 -->        

        <menuitem id="menu_tr" parent="menu_tanaman" name="Tebu Rakyat" groups="ka_tanaman.group_tr" sequence="2"/>
            <menuitem id="menu_tr_inventarisasi" parent="menu_tr" name="Register" sequence="1"/>
                <menuitem id="menu_tr_register" parent="menu_tr_inventarisasi" name="Pendaftaran Register" action="action_mtt" sequence="5"/>
            <menuitem id="menu_tr_credit" parent="menu_tr" name="Kredit" sequence="2"/>            
                <menuitem id="menu_tr_credit_petani" parent="menu_tr_credit" name="Kredit Petani" action="action_credit_petani" sequence="1"/>
                <menuitem id="menu_tr_credit_kud" parent="menu_tr_credit" name="Kredit KUD" action="action_credit_kud" sequence="2"/>
<!--             <menuitem id="menu_tr_area" parent="menu_tr" name="Data Lahan" action="action_area" sequence="2"/>
            <menuitem id="menu_tr_farmer" parent="menu_tr" name="Kelompok Tani" action="action_farmer_form" sequence="3"/>
            <menuitem id="menu_tr_kud" parent="menu_tr" name="KUD" action="action_kud_form" sequence="4"/>
            <menuitem id="menu_tr_taksasi" parent="menu_tr" name="Hasil Taksasi" action="action_area_taksasi" sequence="6"/>
 -->            

        <menuitem id="menu_periodik" parent="menu_tanaman" name="Periodik Proses" groups="ka_tanaman.group_ts,ka_tanaman.group_tr" sequence="3"/>
            <menuitem id="menu_area_sampling" parent="menu_periodik" name="Taksasi Maret" action="action_area_sampling" sequence="2"/>
            <menuitem id="menu_area_sampling_des" parent="menu_periodik" name="Taksasi Desember" action="action_area_sampling_des" sequence="1"/>
            <menuitem id="menu_hasil_taksasi" parent="menu_periodik" name="Hasil Taksasi" action="action_hasil_taksasi" sequence="3"/>
            <!-- <menuitem id="menu_nilai_produktivitas" parent="menu_periodik" name="Nilai Produktivitas" action="action_view_produktivitas" sequence="2"/>
            <menuitem id="menu_tingkat_produksi" parent="menu_periodik" name="Tingkat Produksi" action="view_form_area_sampling" sequence="3"/> -->

        <menuitem id="menu_inventaris_lahan" parent="menu_tanaman" name="Inventarisasi Lahan" sequence="4" groups="ka_tanaman.group_ts,ka_tanaman.group_tr"/>
            <menuitem id="menu_upload" parent="menu_inventaris_lahan" name="Data GPS" groups="ka_tanaman.group_ts,ka_tanaman.group_tr" sequence="1"/>
                <menuitem id="menu_upload_gps" parent="menu_upload" name="Upload GPX File" action="action_view_gps_upload" sequence="1"/>
                <menuitem id="menu_download_polygon" parent="menu_upload" name="Plot Polygon PDF" action="action_view_print_polygon" sequence="2"/>
                <menuitem id="menu_validasi_petak" parent="menu_upload" name="Validasi Petak" action="action_validasi_petak" sequence="3"/>
                <menuitem id="menu_all_petak" parent="menu_upload" name="Data Semua Petak" action="action_open_all_petak" sequence="4"/>
            <menuitem id="menu_inventaris_lahan_agronomi" parent="menu_inventaris_lahan" name="Data Agronomi" groups="ka_tanaman.group_ts,ka_tanaman.group_tr" sequence="2"/>
                <menuitem id="menu_inventaris_lahan_agronomi1" parent="menu_inventaris_lahan_agronomi" name="Data Agronomi Lahan" action="action_area_agronomi" sequence="1"/>

         <menuitem id="menu_program" parent="menu_tanaman" name="Program" groups="ka_tanaman.group_ts,ka_tanaman.group_tr" sequence="5"/>
			<menuitem id="menu_program_rehabilitation" parent="menu_program" name="Rehabilitasi Kebun" sequence="1"/>
                <menuitem id="menu_rehabilitasi_tr" parent="menu_program_rehabilitation" name="Kebun TR" action="action_area_rehabilitation_tr" groups="ka_tanaman.group_tr" sequence="1"/>
                <menuitem id="menu_rehabilitasi_ts" parent="menu_program_rehabilitation" name="Kebun TS" action="action_area_rehabilitation_ts" groups="ka_tanaman.group_ts" sequence="2"/>
                <menuitem id="menu_rehabilitasi" parent="menu_program_rehabilitation" name="Kebun TR/TS" action="action_area_rehabilitation" groups="ka_tanaman.group_biro" sequence="3"/>

        <menuitem id="menu_setting" parent="menu_tanaman" name="Master Data" groups="ka_base_wilayah.group_manager" sequence="6"/>
            <menuitem id="menu_setting_farmer" parent="menu_setting" name="Petani KUD" sequence="1" groups="ka_tanaman.group_tr"/>
                <menuitem id="menu_setting_petani" parent="menu_setting_farmer" name="No. Induk Petani" action="action_farmer_form" sequence="2"/>
                <menuitem id="menu_setting_kud" parent="menu_setting_farmer" name="K U D" action="action_kud_form" sequence="3"/>
                <menuitem id="menu_setting_credit_category" parent="menu_setting_farmer" name="Kategori Kredit" action="action_kategori_kredit" sequence="4"/>
            <menuitem id="menu_setting_wilayah" parent="menu_setting" name="Wilayah" sequence="5"/>
                <menuitem id="menu_setting_provinsi" parent="menu_setting_wilayah" name="Provinsi" action="action_provinsi" sequence="6"/>
                <menuitem id="menu_setting_kabupaten" parent="menu_setting_wilayah" name="Kabupaten" action="action_kabupaten" sequence="7"/>
                <menuitem id="menu_setting_kecamatan" parent="menu_setting_wilayah" name="Kecamatan" action="action_kecamatan" sequence="8"/>
                <menuitem id="menu_setting_desa" parent="menu_setting_wilayah" name="Desa" action="action_desa" sequence="9"/>
            <menuitem id="menu_setting_agronomi" parent="menu_setting" name="Agronomi" sequence="10"/>
                <menuitem id="menu_setting_intensifikasi" parent="menu_setting_agronomi" name="Intensifikasi" action="action_intesifikasi" sequence="11"/>
                <menuitem id="menu_setting_varietas" parent="menu_setting_agronomi" name="Varietas" action="action_varietas" sequence="12"/>
                <menuitem id="menu_setting_tanam_periode" parent="menu_setting_agronomi" name="Masa Tanam" action="action_periode" sequence="13"/>
            <menuitem id="menu_setting_other" parent="menu_setting" name="Lain-lain" sequence="14"/>
                <menuitem id="menu_setting_zona_rehabilitasi" parent="menu_setting_other" name="Tarif Zona" action="action_zona_rehabilitasi" sequence="15"/>
                <menuitem id="menu_setting_taksasi_periode" parent="menu_setting_other" name="Periode Taksasi" action="action_area_taksasi_periode" sequence="16"/>
            <menuitem id="menu_setting_config" parent="menu_setting" name="Setting" sequence="17" action="action_configure"/>
    </data>
</odoo>