.filter-link-1.selected:before,
.filter-link-2.selected:before {
	font-family: FontAwesome;
	position: absolute;
	left: 6px;
	content: "\f00c";
}

.btn-kas {
	position: relative;
	top: 12%;
	font-size: 150%;
	padding: 4px;
	background-color: transparent;
	border-color: transparent;
}

.btn-kas:hover,
.btn-kas:focus {
	background-color: transparent !important;
	border-color: transparent !important;
}

.btn-kas-masuk i {
	color: #ec971f !important;
	border-color: #d58512;
}

.btn-kas-keluar i {
	color: #5f5e97 !important;
	border-color: #5b5a91;
}