# jalankan dulu command "sudo apt-get install libgeos-dev" pada terminal
# jalankan dulu command "sudo apt-get install python-dev" pada terminal
# jalankan dulu command "sudo apt-get install python-mpltoolkits.basemap" pada terminal

# https://sourceforge.net/projects/dbfpy/files/dbfpy/2.3.1/dbfpy-2.3.1.tar.gz/download
dbfpy
geocoder
gpxpy
numpy
psycogreen
pycrypto
shapely
unidecode
pygments
matplotlib
descartes