<?xml version="1.0" encoding="UTF-8"?>
<odoo>
	<data>
		<!-- hide some menuitems in hr.holidays -->
		<record model="ir.ui.menu" id="hr_holidays.menu_open_company_allocation">
			<field name="groups_id" eval="[(6,0,[ref('base.group_no_one')])]"/>
		</record>

		<record model="ir.ui.menu"  id="hr_holidays.menu_open_ask_holidays_new">
			<field name="groups_id" eval="[(6,0,[ref('base.group_no_one')])]"/>
		</record>

		<record model="ir.ui.menu"  id="hr_holidays.menu_open_allocation_holidays">
			<field name="groups_id" eval="[(6,0,[ref('base.group_no_one')])]"/>
		</record>

		<record model="ir.ui.menu" id="hr_holidays.menu_open_department_leave_approve">
			<field name="sequence" eval="7"/>
			<field name="groups_id" eval="[(6,0,[ref('base.group_no_one')])]"/>
		</record>

		<record model="ir.ui.menu" id="hr_holidays.menu_open_department_leave_allocation_approve">
			<field name="sequence" eval="8"/>
			<field name="groups_id" eval="[(6,0,[ref('base.group_no_one')])]"/>
		</record>
	</data>
</odoo>